/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* general styles  */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
}
/* header style  */
.top-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #161616;
    margin: 90px 100px;
    border-radius: 30px;
}
.header-content{
    width: 50%;
   }
.header-left{
    margin-left: 105px;
   }
.header-content>h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 80px;
    margin-bottom: 20px;
}
.header-content>p{
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}
.anchor-tag{
    text-decoration: none;
    background-color: yellow;
    padding: 16px 25px;
    border-radius: 5px;
}
.header-content> img{
    width: 100%;
}
/* main section blog style  */

.main-top-section{
    margin: 0px 140px 90px;
    display: flex;
    justify-content: center;
   }
.main-top-section .aside{
    background-color:  #161616;
    height: 312px;
    width: 312px;
    border-radius: 20px;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-link>a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 17px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    color: #161616;
}
.aside-link .link-selected{
    background-color: yellow;
    color: w;
}
/* blog style  */
article{
    width: 312px;
    border: 1px solid;
    border-radius: 5px;   
}
article>img{
    width: 312px;
    height: 175px;
}
.article-inside{
    padding: 20px;
}
.transfer{
    border: 1px solid #161616;
    padding: 4px 18px;
    text-decoration: none;
    border-radius: 10px;
    }
.article-inside .para{
    font-weight: 600;
}
.time-comment{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.time-comment .time-comment-time{
    margin-right: 30px;
}

.main-right{
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
/* footer style  */
footer{
    background-color: 
    #161616;
}
.footer-conternt{
    margin-top: 130px;
    padding: 140px;
}
.footer-conternt>h1{
    text-align: center;
    color: white;
    padding: 40px;
}
.footer-link{
    padding: 40px;
}
.footer-link>a{
    text-decoration: none;
    color: white;
    padding: 40px;
    font-weight: 200px;
}